#grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: solid 2px black;
}

.square {
    box-sizing: border-box;
    
    flex: 1 0 6.25%;
    border: solid 2px black;
}